<div>

    <h1>Find New Music Here</h1>
    <form action="/artist-search", method="GET">
        <input type="search" name="searchArtists"
        placeholder="Who do you feel like listening to today">
        <button type="submit">Search</button>
    </form>


</div>